.form-control,
#tasto_invio {
    border-radius: 0.6rem;
}

.dark-overlay {
    position: relative;
}

.card-servizio {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-servizio:hover {
    transform: scale(1.03);
    box-shadow: 0 .8rem 1.5rem rgba(0, 0, 0, 0.2) !important;
}

.dark-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    /* Modifica il valore 0.4 per variare l'intensità del velo */
    z-index: 1;
    /* Mantieni l'immagine sotto il velo */
}

.carousel-item {
    height: 650px !important;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.carousel {
    top: 25%;
    z-index: 2;
}

.carousel-item h2 {
    font-size: 50px;
}

.carousel-item h2>span {
    font-size: 80px;
}

.sezione-luogo {
    background-color: rgb(253, 237, 218);
    padding: 1.5rem;
    border: 2px dashed grey;
}

.tabcontent {
    display: none;
}

#London {
    display: block;
}

.tablinks {
    border: 0px;
    background-color: white;
    border-bottom: 2px solid white;
}

.tablinks.active.windent {
    border-bottom: 2px solid #007bff;
    font-size: 20px;
}

.tablinks.active.poliwin {
    border-bottom: 2px solid #e834a4;
    font-size: 20px;
}

.tablinks.active.winodlab {
    border-bottom: 2px solid #ffc107;
    font-size: 20px;
}

button:focus {
    outline: 0px !important;
}

@media(min-width: 155px) {
    .h1-principale {
        font-size: 100px;
    }

    .h1-secondario {
        font-size: 80px;
    }
}

@media (max-width: 1499px) {
    .carousel-item {
        height: 600px !important;
    }

    .carousel-item h1 {
        font-size: 70px !important;
    }

    .carousel-item h2 {
        font-size: 50px;
    }

    .carousel-item h2>span {
        font-size: 60px;
    }
}

@media (max-width: 1399px) {
    .carousel-item {
        height: 550px !important;
    }

    .carousel-item h1 {
        font-size: 60px !important;
    }

    .h2-date {
        font-size: 30px !important;
    }
}

@media (max-width: 1260px) {
    .carousel-item {
        height: 500px !important;
    }

    .carousel-item h1 {
        font-size: 50px !important;
    }

    .carousel-item h2 {
        font-size: 40px !important;
    }

    .carousel-item h2>span {
        font-size: 50px !important;
    }
}

@media (max-width: 1140px) {
    .carousel-item {
        height: 400px !important;
    }

    .carousel-item h1 {
        font-size: 45px !important;
    }

    .carousel-item h2 {
        font-size: 35px !important;
    }

    .carousel-item h2>span {
        font-size: 45px !important;
    }
}

@media (max-width: 899px) {
    .carousel-item {
        height: 300px !important;
    }

    .carousel-item h1 {
        font-size: 40px !important;
    }

    .carousel-item h2 {
        font-size: 25px !important;
    }

    .carousel-item h2>span {
        font-size: 35px !important;
    }
}

@media (max-width: 660px) {
    .carousel-item {
        height: 250px !important;
    }

    .carousel-item h1 {
        font-size: 35px !important;
    }

    .carousel-item h2,
    .h2-date {
        font-size: 20px !important;
    }

    .carousel-item h2>span {
        font-size: 35px !important;
    }
}

@media (min-width: 577px) {

    .header-desktop,
    .orari-desktop {
        display: inline !important;
    }

    .header-mobile,
    .orari-mobile {
        display: none !important;
    }

    .icona-expodental {
        width: 25%;
    }

    .icona-qe {
        width: 17%;
    }
}

@media (max-width: 576px) {

    .header-desktop,
    .orari-desktop {
        display: none !important;
    }

    .header-mobile,
    .orari-mobile {
        display: inline !important;
    }

    .icona-expodental {
        width: 40%;
    }

    .icona-qe {
        width: 30%;
    }
}